
input.form-control,
textarea.form-control,
select.form-control {
    margin-bottom: 5px;
}
body {
    padding-top: 200px;
    padding-bottom: 60px;
    background-image: url("http://www.inbounddigital.com.au/wp-content/uploads/2016/02/Website-Design-Background_Torquay.png");
    font-size: 16px;
    padding: 0px;
    height:initial;
    background-repeat: repeat-y;
}

.wd-widget {
    margin-bottom: 10px;
}

.wd-widget > img {
    width: 100%;
}

.wd-widget > .wd-widget-toolbar {
    position: absolute;
    right: 60px;
    background: white;
    opacity: 0.9;
    padding: 5px;
    border-bottom-left-radius: 10px;
}


.none {
    display: none;
}
.button-text{
    text-transform: none;
}
h5{
    text-align: center;
}
md-card{
    padding-top: 5px;
    opacity: 0.9;
}
.head-back{
    background-color: darkblue;
    color: white;
}
.text-center{
    text-align: center;
}
.md-headline{
    text-align: center;
}
section{
    padding-bottom: 0px;
}
.glyco-font{
    font-size: 25px;
}
.navbar-custom .navbar-brand{
    color: white;
}
.back-style{
    font-weight: bolder;
    font-size: 25px;
    padding-top: 8px;
    color: white;
}